.container {
    width: clamp(300px, 90%, 1760px);
    margin-inline: auto;
}
@media (max-width: 1440px) {
    .hero-img {
    width: 100%;
    aspect-ratio: 623 / 522;
    background-image: url('../img/hero_1440.png');
  }
    .features-img {
    width: 100%;
    aspect-ratio: 630 / 586;
    background-image: url('../img/features_1440.png');
  }
    .contact-img {
    width: 100%;
    aspect-ratio: 630 / 464;
    background-image: url('../img/contact_1440.png');
  }
  .about-us-img {
    width: 100%;
    aspect-ratio: 630 / 297;
    background-image: url('../img/about_us_1440.png');
  }
  .workflow-step {
    max-width: 240px;
    margin-left: 42px;
    margin-bottom: 10px;
  }
  .arrow-second {
    display: block;
    margin-left: 46px;
  }
  .pricing_list {
    max-width: 305px;
  }
  .plan_card {
    max-width: 305px;
  }
  .plan_pricing_btn {
    padding: 0;
  }
  .button:active {
    background-color: #EA00FF;
    transform: translateY(-3px);
  }
}
@media (max-width: 768px) {
  .header_nav {
    display: none;
    border: 1px solid white;
  }
  .header_nav a {
    margin-right: -3px;
  }
  .burger-icon {
    display: flex;
  }
  .header_nav.open {
    display: flex;
    padding-top: 29px;
    padding-bottom: 29px;
    transform: translateY(78px);
    position: absolute;

  }
  .close {
    display: none;
  }
}