@media (max-width: 1440px) {
  .container {
    max-width: 1280px;
  }
  .hero-img {
    box-sizing: border-box;
    width: 623px;
    height: 522px;
    padding-left: 623px;
    background-image: url('../img/hero_1440.png');
    background-size: cover;
    background-repeat: no-repeat;
  }
  .features-img {
    box-sizing: border-box;
    width: 630px;
    height: 586px;
    padding-left: 631px;
    background-image: url('../img/features_1440.png');
    background-size: cover;
    background-repeat: no-repeat;
  }
  .contact-img {
    box-sizing: border-box;
    width: 630px;
    height: 464px;
    padding-left: 631px;
    background-image: url('../img/contact_1440.png');
    background-size: cover;
    background-repeat: no-repeat;
  }
  .about-us-img {
    box-sizing: border-box;
    width: 630px;
    height: 297px;
    padding-left: 631px;
    background-image: url('../img/about_us_1440.png');
    background-size: cover;
    background-repeat: no-repeat;
  }
  .workflow-step {
    max-width: 240px;
    margin-bottom: 10px;
  }
  .arrow-second {
    display: block;
    margin-left: 46px;
  }
  .pricing_list {
    max-width: 305px;
  }
  .plan_card {
    max-width: 305px;
  }
  .plan_pricing_btn {
    padding: 0;
  }
  .button:active {
    background-color: #EA00FF;
    transform: translateY(-3px);
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 728px;
  }
  .header_nav {
    display: none;
  }
  .burger-icon {
    display: flex;
  }
  

  .hero-img {
    box-sizing: border-box;
    width: 359px;
    height: 263px;
    padding-left: 359px;
    background-image: url('../img/hero_768.png');
    background-size: cover;
    background-repeat: no-repeat;
  }
  .section-title {
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 40px;
  }
  .section-subtitle {
    margin-bottom: 25px;
    font-size: 16px;
  }
  .hero-btn {
    padding: 0;
    width: 100%;
    height: 31px;
  }
  .button:active {
    background-color: #EA00FF;
    transform: translateY(-3px);
  }
}