@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

.pricing_content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
}

 .pricing_list, .plan_card {
    max-width: 425px;
    max-height: 503px;
    flex-grow: 1;
    /* border: 1px solid white; */
}

.plan_card_wrapper {
  border: 1px solid #81007F;
  border-radius: 14px;
  margin-bottom: 19px;
}

.pricing_item_header, .plan_header {
    padding: 8px 0px 8px 0px;
    font-family: 'Inter', sans-serif;
    font-weight: 100;
    font-size: 24px;
    line-height: 1.5;
    color: #BFBFBF;

}

.plan_header {
  padding: 8px 0px 8px 0px;
  background-color: #9640C1;
  border-radius: 14px 14px 0 0;
  /* border: 1px solid white; */
}

.pricing_item, .plan_pricing {
    padding: 14px 0px 14px 0px;
    font-family: 'Inter', sans-serif;
    font-weight: 100;
    font-size: 18px;
    line-height: 1.5;
    color: #BFBFBF;
    border-bottom: 1px solid #431A58;
}

.plan_header {
  text-align: center;
}

.plan_pricing:last-child {
  text-align: center;
  border-radius: 0 0 14px 14px;
  background-color: #190621;
}

.plan_pricing:not(:last-child) {
  text-align: center;
  background-color: #190621;
}

.plan_pricing_btn {
  text-align: center;
  width: 425px;
  height: 38px;
  padding: 6px 136px 6px 136px;
}
