@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

.pricing_content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
}

 .pricing_list, .plan_card {
    max-width: 425px;
    max-height: 503px;
    flex-grow: 1;
    border: 1px solid white;
}

.pricing_item_header, .plan_header {
    font-family: 'Inter', sans-serif;
    font-weight: 100;
    font-size: 24px;
    line-height: 1.5;
    color: #BFBFBF;
}

.pricing_item, .plan_pricing {
    font-family: 'Inter', sans-serif;
    font-weight: 100;
    font-size: 18px;
    line-height: 1.5;
    color: #BFBFBF;
}

.plan_header {
  text-align: center;
}

.plan_pricing {
  text-align: center;
}

.plan_card {
  border-radius: 14px;
}
/*
.feature-item, .plan-feature {
    padding: 15px 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    display: flex;
    align-items: center;
    min-height: 48px;
}


.plan-header {

    background-color: #6a0dad; 
    

    color: #fff;
    
  
    padding: 15px 10px;
    
    
    text-align: center;
    
    
    border-bottom: none; 
    
    
    min-height: 48px;
    display: flex;
    align-items: center;
    justify-content: center; 
}

.button-row {
    border-bottom: none;
} */