@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

.pricing_content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
}

 .pricing_list, .plan_card {
    max-width: 425px;
    max-height: 503px;
    flex-grow: 1;
    /* border: 1px solid white; */
}

.plan_card_wrapper {
  /* border: 1px solid #81007F; */ /* Удалено для сквозных линий */
  /* border-radius: 14px; */ /* Удалено для сквозных линий */
  margin-bottom: 19px;
}

.pricing_item_header, .plan_header {
    padding: 8px 0px 8px 0px;
    font-family: 'Inter', sans-serif;
    font-weight: 100;
    font-size: 24px;
    line-height: 1.5;
    color: #BFBFBF;
}

.plan_header {
  padding: 8px 0px 8px 0px;
  background-color: #9640C1;
  /* border-radius: 14px 14px 0 0; */ /* Удалено для сквозных линий */
  text-align: center;
}

.pricing_item, .plan_pricing {
    padding: 14px 0px 14px 0px;
    font-family: 'Inter', sans-serif;
    font-weight: 100;
    font-size: 18px;
    line-height: 1.5;
    color: #BFBFBF;
    /* Удаляем стандартную границу и позиционируем псевдоэлемент */
    /* border-bottom: 1px solid #431A58; */
    position: relative; 
}

/* Создаем эффект сквозной линии с градиентом через псевдоэлемент ::after */
.pricing_item::after, .plan_pricing::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: linear-gradient(
        to right, 
        rgba(129, 0, 127, 0) 0%,      /* Прозрачный слева */
        #81007F 30%,                 /* Яркий цвет к центру */
        #81007F 70%,                 /* Яркий цвет от центра */
        rgba(129, 0, 127, 0) 100%    /* Прозрачный справа */
    );
}

/* Скрываем линию под последним элементом в списке */
.plan_pricing:last-child::after,
.pricing_item:last-child::after {
    display: none;
}


.plan_pricing:last-child {
  text-align: center;
  /* border-radius: 0 0 14px 14px;  */
  background-color: #190621;
}

.plan_pricing:not(:last-child) {
  text-align: center;
  background-color: #190621;
}

.plan_pricing_btn {
  text-align: center;
  width: 100%;
  height: 38px;
  padding: 6px 136px 6px 136px;
}
