/* Общие стили для секции */
.section_reviews {
    /* padding: 40px 20px; */
    /* font-family: 'Inter', sans-serif;
    font-weight: 100;
    font-size: 18px;
    line-height: 1.2;
    color: #BFBFBF; */
}

.reviews_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding: 0 10px;
}

.reviews_header a {
    width: 295px;
    text-align: center;
    text-decoration: none;
}
    

.add-review-button:hover {
    background-color: #51078a;
}

/* Контейнер для карточек с прокруткой */
.reviews-container {
    gap: 20px; /* Расстояние между карточками */
     /* Горизонтальная прокрутка */
    padding: 0 10px 20px 10px; /* Отступ снизу для полосы прокрутки */
    scrollbar-width: thin; /* Стандартное свойство для Firefox */
    scrollbar-color: #6a0dad #1a1a2e; /* Цвет бегунка и дорожки для Firefox */
}

.reviews_cards {
    font-family: 'Inter', sans-serif;
    font-weight: 100;
    font-size: 18px;
    line-height: 1.2;
    color: #BFBFBF;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    scrollbar-width: thin;
    scrollbar-color: #9640C1 #190621;
}

.reviews_cards::-webkit-scrollbar-thumb {
    width: 1px;
}

.reviews_cards::-webkit-scrollbar-track {
    border-radius: 10px;
}

.reviews_cards::-webkit-scrollbar-button {
    display: none;
}

/* Стиль отдельной карточки отзыва */
.review-card {
    flex: 0 0 auto;
    width: 413px;
    margin-right: 30px;
    padding: 0;
    transition: transform 0.3s ease;
    white-space: normal;
}

.review-card-wrapper {
    margin-bottom: 17px;
    position: relative;
    background-color: #190621;
    border: 1px solid #6a0dad;
    border-radius: 45px;
}

.review-card-wrapper::after {
    content: '';
    position: absolute;
    bottom: -19px;
    left: 40px;
    width: 0;
    height: 0;

    border: 18px solid transparent; 
    border-top-color: #310850;
    box-sizing: border-box;
    border-bottom: 0;
}

.review-card-wrapper p {
    padding-top: 19px;
    padding-left: 34px;
    padding-right: 34px;
    padding-bottom: 34px;
}

.review-meta {
    margin-bottom: 38px;
    padding-top: 19px;
    padding-left: 34px;
    font-family: 'Inter', sans-serif;
    font-weight: 100;
    font-size: 18px;
    line-height: 1.2;
    color: #BFBFBF;
    display: flex;
    flex-direction: column;
}

/* .reviewer-name {
    font-weight: bold;
    color: #ffffff;
} */

.reviewer-location {
    color: #a0a0a0;
}

hr {
  border: none; /* Убираем стандартную границу */
  height: 2px; /* Задаем толщину */
  background-color: #333; /* Задаем цвет */
  margin: 20px 0; /* Добавляем отступы сверху и снизу */
}
