.form-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8); /* Затемнение фона */
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    z-index: 1000;
}

/* Класс для показа модалки */
.form-modal.is-active {
    opacity: 1;
    visibility: visible;
}

.modal-content {
    background: rgba(34, 34, 34, 0.9);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(40px);
    padding: 40px;
    border-radius: 12px;
    /* text-align: center; */
    box-shadow: 0 10px 25px rgba(0,0,0,0.5);
    transform: translateY(-20px);
    transition: transform 0.3s ease;
    opacity: 0.8;
}

.form-modal.is-active .modal-content {
    transform: translateY(0);
}
